.primary {
    background-color: #c51f3b;
    width: 140px;
    height: 60px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  .primary:hover {
    background-color: #fcaa42;
  }
  .secondary {
    background-color: white;
    width: 140px;
    height: 60px;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  .secondary:hover {
    text-decoration: underline;
  }