@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.container {
    padding: 30%;
    display: flex;
    align-items: center;
    background: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/312124792_674413257426227_2963688446424907377_n.png?stp=dst-png_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGXElDACIRk5Sxvn3EnQ2nc0rKQJpnhTq3SspAmmeFOrXSAJZV25s93r1oxA9Chi0Q47ytgRDbSn_rOeKB1Y1Xd&_nc_ohc=mHpGmfumaqgAX_CximA&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTgYUxMmBW4tcH-uKi70X1GntvyIWmnHRxJJ7N_ZH8lXQ&oe=63A802C0);
    background-repeat: no-repeat;
    background-size: 135%;
    padding-bottom: 120px;
}
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -280px;
    margin-left: -320px;
}
.card__image:hover {
    transform: scale(1.1);
}
.card__content {
    line-height: 1;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    white-space: nowrap;
    text-align: center;
    margin-left: -500px;
    margin-bottom: -50px;
}
.card__content:hover {
    text-decoration: underline;
}

.card__image1 {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -538px;
    margin-left: 100px;
}
.card__image1:hover {
    transform: scale(1.1);
}
.card__content1 {
    line-height: 0.5;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    white-space: pre;
    text-align: center;
    margin-left: 100px;
}
.card__content1:hover {
    text-decoration: underline;
}
.card__image2 {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -570px;
    margin-left: 530px;
}
.card__image2:hover {
    transform: scale(1.1);
}
.card__content2 {
    line-height: 1;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    white-space: nowrap;
    text-align: center;
    margin-left: 540px;
    margin-bottom: 100px;
}
.card__content2:hover {
    text-decoration: underline;
}
.card__image3 {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-bottom: 100px;
    margin-left: -320px;
}
.card__image3:hover {
    transform: scale(1.1);
}
.card__content3 {
    line-height: 0.5;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    white-space: nowrap;
    text-align: center;
    margin-left: -500px;
    margin-top: -75px;
}
.card__content3:hover {
    text-decoration: underline;
}
.card__image4 {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -560px;
    margin-left: 90px;
}
.card__image4:hover {
    transform: scale(1.1);
}
.card__content4 {
    line-height: 0.5;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    text-align: center;
    white-space: pre;
    margin-left: 100px;
}
.card__content4:hover {
    text-decoration: underline;
}
.card__image5 {
    width: 360px;
    height: 450px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -570px;
    margin-left: 520px;
}
.card__image5:hover {
    transform: scale(1.1);
}
.card__content5 {
    line-height: 0.5;
    font-size: 30px;
    font-family: 'Graduate';
    color: black;
    text-align: center;
    white-space: pre;
    margin-left: 520px;
}
.card__content5:hover {
    text-decoration: underline;
}