@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


.container {
    padding: 30%;
    display: flex;
    align-items: center;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/312124792_674413257426227_2963688446424907377_n.png?stp=dst-png_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGXElDACIRk5Sxvn3EnQ2nc0rKQJpnhTq3SspAmmeFOrXSAJZV25s93r1oxA9Chi0Q47ytgRDbSn_rOeKB1Y1Xd&_nc_ohc=IzYokExBFXoAX-wiqoK&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSSgce2lPseZjBxow32QFcDYw95hR3a2eOnq8YU-x3f2w&oe=63B21E40);
    background-repeat: no-repeat;
    background-size: 160%;
    margin-bottom: 30px;

}  
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image > img{
    width: 360px;
    height: 455px;
    margin-bottom: 15px;
    object-fit: cover;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    -moz-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -webkit-box-shadow: 10px 10px 10px rgb(0, 0, 0,  0.795);
    -khtml-box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.795);
    margin-top: -300px;
    margin-left: 90px;
}
.card__image > input{
    margin-left: 200px;
}

  .input > textarea {
    width: 380px;
    height: 70px;
    border: none;
    resize: none;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    margin-right: -50px;
    margin-left: 80px;
    line-height: 0.5;
    font-size: 20px;
    font-family: 'Graduate';
    color: black; 
    text-align: center;
}

.word > textarea {
    resize: vertical;
    padding: 20px;
    margin-top: 5%;
    word-spacing: 5px;
    line-height: 1.5;
    margin-left: -270px;
    font-size: 25px;
    inline-size: 1100px;
    overflow-wrap: break-word;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/313199217_633859965194794_4190908997850844920_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeFEWS1bDiaXdu_rGbqAKgnYxZCSQZTiJkzFkJJBlOImTJ8vu2U3zs7orm1a50CHN-iQZ-hAZWMVlvd0S92dMfKY&_nc_ohc=PwHxtOtcqTQAX95ZYoH&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSocDSrRSrsmNifOnsxHnwxfzVQKXDgaFzmf5InBkkZxA&oe=63AA624E);
    background-size: 150%;
    font-family: "Gilda Display";
    color: #ffeedb;
    background-color: transparent; 
    border-color: none;    
    text-align: center;
    text-indent: 5rem;
    }

    .save_button button{
        background-color: #d9d9d9;
        height: 30px;
        width: 150px;
        border: none;
        font-size: 25px;
        cursor: pointer;
        color: black;
        font-family: "Graduate";
        
    }
    
    .save_button button:hover{
        transform: scale(1.1);
        opacity: 0.7;
    }
    
    .save_button{
        margin-top: 25px;
        width: 100px;
        height: 50px;
        color: white;
        border: none;
        margin-left: 500px;
        margin-bottom: -50px;
      }

      .quit_button button{
        background-color: #d9d9d9;
        height: 30px;
        width: 150px;
        border: none;
        font-size: 25px;
        cursor: pointer;
        color: black;
        font-family: "Graduate";
        
    }
    
    .quit_button button:hover{
        transform: scale(1.1);
        opacity: 0.7;
    }
    
    .quit_button{
        margin-top: -50px;
        width: 100px;
        height: 50px;
        color: white;
        border: none;
        margin-left: 680px;
        margin-bottom: -50px;
      }